@keyframes timerAnimation {
    0% {
      background: conic-gradient(blue 100%, white 0%);
    }1%{
        background: conic-gradient(blue 99%,white 1%);
    }2%{
        background: conic-gradient(blue 98%,white 2%);
    }3%{
        background: conic-gradient(blue 97%,white 3%);
    }4%{
        background: conic-gradient(blue 96%,white 4%);
    }5%{
        background: conic-gradient(blue 95%,white 5%);
    }6%{
        background: conic-gradient(blue 94%,white 6%);
    }7%{
        background: conic-gradient(blue 93%,white 7%);
    }8%{
        background: conic-gradient(blue 92%,white 8%);
    }9%{
        background: conic-gradient(blue 91%,white 9%);
    }10%{
        background: conic-gradient(blue 90%,white 10%);
    }11%{
        background: conic-gradient(blue 89%,white 11%);
    }12%{
        background: conic-gradient(blue 88%,white 12%);
    }13%{
        background: conic-gradient(blue 87%,white 13%);
    }14%{
        background: conic-gradient(blue 86%,white 14%);
    }15%{
        background: conic-gradient(blue 85%,white 15%);
    }16%{
        background: conic-gradient(blue 84%,white 16%);
    }17%{
        background: conic-gradient(blue 83%,white 17%);
    }18%{
        background: conic-gradient(blue 82%,white 18%);
    }19%{
        background: conic-gradient(blue 81%,white 19%);
    }20%{
        background: conic-gradient(blue 80%,white 20%);
    }21%{
        background: conic-gradient(blue 79%,white 21%);
    }22%{
        background: conic-gradient(blue 78%,white 22%);
    }23%{
        background: conic-gradient(blue 77%,white 23%);
    }24%{
        background: conic-gradient(blue 76%,white 24%);
    }25%{
        background: conic-gradient(blue 75%,white 25%);
    }26%{
        background: conic-gradient(blue 74%,white 26%);
    }27%{
        background: conic-gradient(blue 73%,white 27%);
    }28%{
        background: conic-gradient(blue 72%,white 28%);
    }29%{
        background: conic-gradient(blue 71%,white 29%);
    }30%{
        background: conic-gradient(blue 70%,white 30%);
    }31%{
        background: conic-gradient(blue 69%,white 31%);
    }32%{
        background: conic-gradient(blue 68%,white 32%);
    }33%{
        background: conic-gradient(blue 67%,white 33%);
    }34%{
        background: conic-gradient(blue 66%,white 34%);
    }35%{
        background: conic-gradient(blue 65%,white 35%);
    }36%{
        background: conic-gradient(blue 64%,white 36%);
    }37%{
        background: conic-gradient(blue 63%,white 37%);
    }38%{
        background: conic-gradient(blue 62%,white 38%);
    }39%{
        background: conic-gradient(blue 61%,white 39%);
    }40%{
        background: conic-gradient(blue 60%,white 40%);
    }41%{
        background: conic-gradient(blue 59%,white 41%);
    }42%{
        background: conic-gradient(blue 58%,white 42%);
    }43%{
        background: conic-gradient(blue 57%,white 43%);
    }44%{
        background: conic-gradient(blue 56%,white 44%);
    }45%{
        background: conic-gradient(blue 55%,white 45%);
    }46%{
        background: conic-gradient(blue 54%,white 46%);
    }47%{
        background: conic-gradient(blue 53%,white 47%);
    }48%{
        background: conic-gradient(blue 52%,white 48%);
    }49%{
        background: conic-gradient(blue 51%,white 49%);
    }50%{
        background: conic-gradient(blue 50%,white 50%);
    }51%{
        background: conic-gradient(blue 49%,white 51%);
    }52%{
        background: conic-gradient(blue 48%,white 52%);
    }53%{
        background: conic-gradient(blue 47%,white 53%);
    }54%{
        background: conic-gradient(blue 46%,white 54%);
    }55%{
        background: conic-gradient(blue 45%,white 55%);
    }56%{
        background: conic-gradient(blue 44%,white 56%);
    }57%{
        background: conic-gradient(blue 43%,white 57%);
    }58%{
        background: conic-gradient(blue 42%,white 58%);
    }59%{
        background: conic-gradient(blue 41%,white 59%);
    }60%{
        background: conic-gradient(blue 40%,white 60%);
    }61%{
        background: conic-gradient(blue 39%,white 61%);
    }62%{
        background: conic-gradient(blue 38%,white 62%);
    }63%{
        background: conic-gradient(blue 37%,white 63%);
    }64%{
        background: conic-gradient(blue 36%,white 64%);
    }65%{
        background: conic-gradient(blue 35%,white 65%);
    }66%{
        background: conic-gradient(blue 34%,white 66%);
    }67%{
        background: conic-gradient(blue 33%,white 67%);
    }68%{
        background: conic-gradient(blue 32%,white 68%);
    }69%{
        background: conic-gradient(blue 31%,white 69%);
    }70%{
        background: conic-gradient(blue 30%,white 70%);
    }71%{
        background: conic-gradient(blue 29%,white 71%);
    }72%{
        background: conic-gradient(blue 28%,white 72%);
    }73%{
        background: conic-gradient(blue 27%,white 73%);
    }74%{
        background: conic-gradient(blue 26%,white 74%);
    }75%{
        background: conic-gradient(blue 25%,white 75%);
    }76%{
        background: conic-gradient(blue 24%,white 76%);
    }77%{
        background: conic-gradient(blue 23%,white 77%);
    }78%{
        background: conic-gradient(blue 22%,white 78%);
    }79%{
        background: conic-gradient(blue 21%,white 79%);
    }80%{
        background: conic-gradient(blue 20%,white 80%);
    }81%{
        background: conic-gradient(blue 19%,white 81%);
    }82%{
        background: conic-gradient(blue 18%,white 82%);
    }83%{
        background: conic-gradient(blue 17%,white 83%);
    }84%{
        background: conic-gradient(blue 16%,white 84%);
    }85%{
        background: conic-gradient(blue 15%,white 85%);
    }86%{
        background: conic-gradient(blue 14%,white 86%);
    }87%{
        background: conic-gradient(blue 13%,white 87%);
    }88%{
        background: conic-gradient(blue 12%,white 88%);
    }89%{
        background: conic-gradient(blue 11%,white 89%);
    }90%{
        background: conic-gradient(blue 10%,white 90%);
    }91%{
        background: conic-gradient(blue 9%,white 91%);
    }92%{
        background: conic-gradient(blue 8%,white 92%);
    }93%{
        background: conic-gradient(blue 7%,white 93%);
    }94%{
        background: conic-gradient(blue 6%,white 94%);
    }95%{
        background: conic-gradient(blue 5%,white 95%);
    }96%{
        background: conic-gradient(blue 4%,white 96%);
    }97%{
        background: conic-gradient(blue 3%,white 97%);
    }98%{
        background: conic-gradient(blue 2%,white 98%);
    }99%{
        background: conic-gradient(blue 1%,white 99%);
    }
    100% {
      background: conic-gradient(blue 0%, white 100%);
    }
  }
  
  .circle-timer {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid #000;
    animation: timerAnimation 30s linear forwards;
  }
  
  .circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }
  
  .mask {
    clip: rect(0px, 200px, 200px, 100px);
  }
  
  .fill {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  
  .full {
    clip: rect(0px, 100px, 200px, 0px);
  }
  
  .half {
    clip: rect(0px, 100px, 200px, 100px);
  }
  
  .inside-circle {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    /* border: 1px solid #000; */
  }
  