#res-screen {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#res-div {
    height: 30vh;
    width: 40%;
    border: 1px solid #000;
}

#res-headline {
    text-align: center;
}

#res-statement {
    text-align: center;
    font-size: 1.1em;
}

#play-agin-btn {
    height: 5vh;
    width: fit-content;
    padding-left: 2px;
    padding-right: 2px;
    outline: none;
    border: none;
    margin-left: 25%;
    background-color: rgb(108, 135, 66);
    color: aliceblue;
    border-radius: 5px;
}

#submit-btn {
    height: 5vh;
    width: fit-content;
    padding-left: 2px;
    padding-right: 2px;
    outline: none;
    margin-left: 20%;
    background-color: darkred;
    border: none;
    border-radius: 5px;
    color: aliceblue;
}